<form method="post" action="{{ path('app_cahier_texte_delete', {'id': cahier_texte.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cahier_texte.id) }}">
    <button class="btn">Delete</button>
</form>
