{% extends 'admin/index.html.twig' %}

{% block title %}New Eleve{% endblock %}

{% block dynamic %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Ajouter élève</h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              
              <!-- /.card-header -->
              <div class="card-body">
                {{ form_start(form) }}

                {{ form_widget(form) }}
                <button type="submit" class="btn btn-sm btn-primary mt-2 btn-block" style="background-color:#006663">Ajouter</button>
                {{ form_end(form) }}
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
{% endblock %}
