{% extends 'admin/index.html.twig' %}

{% block dynamic %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Liste des niveaux</h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Liste des niveaux</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
              {% for message in app.flashes('info') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Niveau</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
             
                  {% for niveau in niveaux %}
                    <tr>
                    <td>{{ niveau.niveau }}</td>
                    <td>
                        <a href="{{ path('app_niveau_edit', {'id':niveau.id}) }}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                       <a href="{{ path('archiver_niveau',{"id": niveau.id}) }}" class="btn btn-danger"><i class="fa fa-archive"></i></a>&nbsp;
                    </td>
                    
                  </tr>

                  {% endfor %}
                  </tbody>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

           
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}