{% extends 'admin/index.html.twig' %}

{% block dynamic %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Liste des matières de classe: <span class="badge badge-warning text-white">{{ classe.niveau.niveau }} {{ classe.section.section }}</span></h3>

              </div>
              
              <!-- /.card-header -->
              
              <div class="card-body">
             
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Libelle</th>
                    
                  </tr>
                  </thead>
                  <tbody>
                    {% for matiere in matieres %}
               
                   <tr>
                       <td>{{ matiere.libelle }}</td>
                  </tr>
                    {% endfor %}                
                  </tbody>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

           
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}