{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary btn-sm mt-2 btn-block" style="background-color:#006663">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
