{% extends 'site/index.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block dynamic %}
	<!-- Start Banner -->
	<div class="banner-outer inner-banner contact-us-banner">
		<span class="banner-shadow"></span>
		<div class="container">
			<div class="content" data-aos="fade-down">
				<h1>Connexion</h1>
				<div class="breadcrumbs_outer">
					<div class="container">
						<ul class="breadcrumbs">
							<li>
								<a href="index-2.html">Home</a>
							</li>
							<li>Contact Us</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Banner -->


	<div class="contact-outer">
		<div class="container">
			<div class="row">
				<div class="col-sm-7 col-xs-12">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					<div class="form-wrapper">
						<h3>Connexion!</h3>
						{% for message in app.flashes('success') %}
							<div class="alert alert-success">
								{{ message }}
							</div>
						{% endfor %}
						<form action="#" method="post" id="contactform" name="contactform">
							<div class="row input-row">
								<div class="col-sm-12">
									<input type="email" value="{{ last_username }}" placeholder="Votre email ..." name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
								</div>
							</div>
							<div class="row input-row">
								<div class="col-sm-12">
									<input type="password" name="password" id="inputPassword" placeholder="Votre mot de passe ..." class="form-control" autocomplete="current-password" required>
								</div>
							</div>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="row">
								<div class="col-sm-12">
									<input type="submit" name="submit" class="btn" value="se Connecter">
								</div>
							</div>
						</form>
						<div class="msg"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
