{% extends 'coach/index.html.twig' %}

{% block title %}Bienvenue !
{% endblock %}

{% block contenu %}
	<div class="card">
		<div class="card-header bg-primary text-white text-center">
			Gestion des tournois
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						{% for message in app.flashes('success') %}
							<div class="alert alert-success">
								{{ message }}
							</div>
						{% endfor %}

						<div class="card-body mt-2 bg-primary m-2 text-center text-center text-white">Planifier un tournoi</div>
						<div class="card-body">
							{{ form_start(form)}}
							{{ form_widget(form)}}
                            <button class="btn btn-sm btn-primary mt-2">Enregistrer</button>
							{{ form_end(form)}}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
