{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary btn-block mt-2 " style="background-color:#006663">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
