{% extends 'formateur_d/index.html.twig' %}

{% block title %}formation index
{% endblock %}

{% block dynamic %}
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Ressources Pedagogiques </h1>
					</div>

				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						
						<!-- /.card -->

						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Liste des ressources</h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
                                <a href="{{ path('ajouter_ressource', {'id':seance.id}) }}" class="btn btn-primary">Importer Ressource</a>
								<table id="example1" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Titre</th>
											<th>Fichier</th>
											
										</tr>
									</thead>
									<tbody>
                                        {% for r in ressources %}
                                            <tr>        
                                               <td>{{ r.titre }}</td>
                                                <td class="text-center">
                                                    <a class="btn btn-sm btn-primary " target="_blank" href="{{ asset('fichier_seances/'~r.fichierUrl) }}"><i class="fa fa-eye"></i></a>
                                                </td>
                                            </tr>       
                                        {% endfor %}
                                    </tbody>
								</table>

							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>

{% endblock %}
